#Section 01. 결측치 처리
## 1. 결측치 개념

In [ ]:
import pandas as pd
url='https://raw.githubusercontent.com/sehakflower/data/main/titanic.csv'
titanic_df= pd.read_csv(url,sep='\t')
titanic_df.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  156 non-null    int64
 1   Survived     156 non-null    int64
 2   Pclass       156 non-null    int64
 3   Name         156 non-null    object
 4   Sex          156 non-null    object
 5   Age          126 non-null    float64
 6   SibSp        156 non-null    int64
 7   Parch        156 non-null    int64
 8   Ticket       156 non-null    object
 9   Fare         156 non-null    float64
 10  Cabin        31 non-null     object
 11  Embarked     155 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 14.8+ KB

In [ ]:
new_columns=['passengerId', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch',
'ticket', 'fare', 'cabin', 'embarked']
titanic_df.columns=new_columns
titanic_df.columns

Index(['passengerId', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'cabin', 'embarked'],
      dtype='object')

##2. 결측치 확인 함수
###isna 함수

In [ ]:
titanic_df['age'][titanic_df['age'].isna( )]

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
29    NaN
31    NaN
32    NaN
36    NaN
42    NaN
45    NaN
46    NaN
47    NaN
48    NaN
55    NaN
64    NaN
65    NaN
76    NaN
77    NaN
82    NaN
87    NaN
95    NaN
101   NaN
107   NaN
109   NaN
121   NaN
126   NaN
128   NaN
140   NaN
154   NaN
Name: age, dtype: float64

### isnull 함수

In [ ]:
titanic_df['age'].isnull( )

0      False
1      False
2      False
3      False
4      False
       ...
151    False
152    False
153    False
154     True
155    False
Name: age, Length: 156, dtype: bool

In [ ]:
titanic_df['age'][titanic_df['age'].isnull( )]

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
29    NaN
31    NaN
32    NaN
36    NaN
42    NaN
45    NaN
46    NaN
47    NaN
48    NaN
55    NaN
64    NaN
65    NaN
76    NaN
77    NaN
82    NaN
87    NaN
95    NaN
101   NaN
107   NaN
109   NaN
121   NaN
126   NaN
128   NaN
140   NaN
154   NaN
Name: age, dtype: float64

In [ ]:
titanic_df['age'][titanic_df['age'].isnull( )].isnull( ).sum( )

30

###notnull 함수

In [ ]:
titanic_df['age'].notnull( )

0       True
1       True
2       True
3       True
4       True
       ...
151     True
152     True
153     True
154    False
155     True
Name: age, Length: 156, dtype: bool

In [ ]:
titanic_df['age'][titanic_df['age'].notnull( )]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
150    51.0
151    22.0
152    55.5
153    40.5
155    51.0
Name: age, Length: 126, dtype: float64

In [ ]:
titanic_df.loc[titanic_df['age'].notnull( ),['age', 'name']]

      age                                               name
0    22.0                            Braund, Mr. Owen Harris
1    38.0  Cumings, Mrs. John Bradley (Florence Briggs Th...
2    26.0                             Heikkinen, Miss. Laina
3    35.0       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4    35.0                           Allen, Mr. William Henry
..    ...                                                ...
150  51.0                         Bateman, Rev. Robert James
151  22.0                  Pears, Mrs. Thomas (Edith Wearne)
152  55.5                                   Meo, Mr. Alfonzo
153  40.5                    van Billiard, Mr. Austin Blyler
155  51.0                        Williams, Mr. Charles Duane

[126 rows x 2 columns]

In [ ]:
titanic_df.loc[titanic_df['age'].isnull( ),['age', 'name']]

     age                                            name
5    NaN                                Moran, Mr. James
17   NaN                    Williams, Mr. Charles Eugene
19   NaN                         Masselmani, Mrs. Fatima
26   NaN                         Emir, Mr. Farred Chehab
28   NaN                   O'Dwyer, Miss. Ellen "Nellie"
29   NaN                             Todoroff, Mr. Lalio
31   NaN  Spencer, Mrs. William Augustus (Marie Eugenie)
32   NaN                        Glynn, Miss. Mary Agatha
36   NaN                                Mamee, Mr. Hanna
42   NaN                             Kraeff, Mr. Theodor
45   NaN                        Rogers, Mr. William John
46   NaN                               Lennon, Mr. Denis
47   NaN                       O'Driscoll, Miss. Bridget
48   NaN                             Samaan, Mr. Youssef
55   NaN                               Woolner, Mr. Hugh
64   NaN                           Stewart, Mr. Albert A
65   NaN                        Moubarek, Master. Gerios
76   NaN                               Staneff, Mr. Ivan
77   NaN                        Moutal, Mr. Rahamin Haim
82   NaN                  McDermott, Miss. Brigdet Delia
87   NaN                   Slocovski, Mr. Selman Francis
95   NaN                     Shorney, Mr. Charles Joseph
101  NaN                Petroff, Mr. Pastcho ("Pentcho")
107  NaN                          Moss, Mr. Albert Johan
109  NaN                             Moran, Miss. Bertha
121  NaN                      Moore, Mr. Leonard Charles
126  NaN                             McMahon, Mr. Martin
128  NaN                               Peter, Miss. Anna
140  NaN                   Boulos, Mrs. Joseph (Sultana)
154  NaN                           Olsen, Mr. Ole Martin

##3. 결측치 처리 방법
###결측치를 다른 문자로 변경하기

In [ ]:
titanic_df.head( )

,passengerId,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic_df['cabin']=titanic_df['cabin'].fillna('N')
titanic_df['cabin']

0         N
1       C85
2         N
3      C123
4         N
       ...
151      C2
152       N
153       N
154       N
155       N
Name: cabin, Length: 156, dtype: object

In [ ]:
titanic_df['cabin'].value_counts( )

N              125
C123             2
C23 C25 C27      2
D26              2
F G73            1
F2               1
B86              1
D47              1
F E69            1
E101             1
B58 B60          1
C110             1
D10 D12          1
A5               1
E31              1
C83              1
F33              1
C85              1
B28              1
C52              1
B30              1
D33              1
B78              1
A6               1
D56              1
C103             1
G6               1
E46              1
C2               1
Name: cabin, dtype: int64

In [ ]:
titanic_df['cabin'][0]

'N'

In [ ]:
titanic_df['cabin']=titanic_df['cabin'].apply(lambda x : x[0])
titanic_df['cabin']

0      N
1      C
2      N
3      C
4      N
      ..
151    C
152    N
153    N
154    N
155    N
Name: cabin, Length: 156, dtype: object

In [ ]:
titanic_df.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerId  156 non-null    int64
 1   survived     156 non-null    int64
 2   pclass       156 non-null    int64
 3   name         156 non-null    object
 4   sex          156 non-null    object
 5   age          126 non-null    float64
 6   sibsp        156 non-null    int64
 7   parch        156 non-null    int64
 8   ticket       156 non-null    object
 9   fare         156 non-null    float64
 10  cabin        156 non-null    object
 11  embarked     155 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 14.8+ KB

###결측치를 평균값으로 변경하기

In [ ]:
titanic_df_copy=titanic_df.copy( )
titanic_df_copy

,passengerId,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,N,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,N,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,N,S
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,N,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,N,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,N,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,N,C

In [ ]:
titanic_df_copy['age'].isnull( )

0      False
1      False
2      False
3      False
4      False
       ...
151    False
152    False
153    False
154     True
155    False
Name: age, Length: 156, dtype: bool

In [ ]:
titanic_df['age']=titanic_df_copy['age'].fillna(titanic_df_copy['age'].mean())
titanic_df_copy['age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
151    22.0
152    55.5
153    40.5
154     NaN
155    51.0
Name: age, Length: 156, dtype: float64

#Section 02. 데이터 변환
##1. 데이터형 변환
###to_numeric 함수

In [ ]:
titanic_df1=titanic_df[['survived', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'fare']]
titanic_df2=titanic_df1.apply(pd.to_numeric, errors='coerce')
titanic_df2

     survived  pclass  name  sex        age  sibsp  parch     fare
0           0       3   NaN  NaN  22.000000      1      0   7.2500
1           1       1   NaN  NaN  38.000000      1      0  71.2833
2           1       3   NaN  NaN  26.000000      0      0   7.9250
3           1       1   NaN  NaN  35.000000      1      0  53.1000
4           0       3   NaN  NaN  35.000000      0      0   8.0500
..        ...     ...   ...  ...        ...    ...    ...      ...
151         1       1   NaN  NaN  22.000000      1      0  66.6000
152         0       3   NaN  NaN  55.500000      0      0   8.0500
153         0       3   NaN  NaN  40.500000      0      2  14.5000
154         0       3   NaN  NaN  28.141508      0      0   7.3125
155         0       1   NaN  NaN  51.000000      0      1  61.3792

[156 rows x 8 columns]

In [ ]:
titanic_df2.dtypes

survived      int64
pclass        int64
name        float64
sex         float64
age         float64
sibsp         int64
parch         int64
fare        float64
dtype: object

###astype 함수

In [ ]:
titanic_df2['survived']=titanic_df2['survived'].astype('float')
titanic_df2['pclass']=titanic_df2['pclass'].astype('float')
titanic_df2['age']=titanic_df2['age'].astype('float')
titanic_df2['sibsp']=titanic_df2['sibsp'].astype('float')
titanic_df2['parch']=titanic_df2['parch'].astype('float')
titanic_df2['fare']=titanic_df2['fare'].astype('float')
titanic_df2.dtypes

survived    float64
pclass      float64
name        float64
sex         float64
age         float64
sibsp       float64
parch       float64
fare        float64
dtype: object

##2. 값 변환
### 숫자형 변수로 바꾸기

In [ ]:
titanic_df1=titanic_df[['survived', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'fare']]
tmp=[]
for each in titanic_df1['sex']:
 if each=='female':
  tmp.append(0)
 else:
  tmp.append(1)

titanic_df1['gender']=tmp
titanic_df1

<ipython-input-27-8371a75c5c01>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_df1['gender']=tmp

,survived,pclass,name,sex,age,sibsp,parch,fare,gender
0,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,7.2500,1
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,71.2833,0
2,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,7.9250,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,53.1000,0
4,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,8.0500,1
...,...,...,...,...,...,...,...,...,...
151,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.000000,1,0,66.6000,0
152,0,3,"Meo, Mr. Alfonzo",male,55.500000,0,0,8.0500,1
153,0,3,"van Billiard, Mr. Austin Blyler",male,40.500000,0,2,14.5000,1
154,0,3,"Olsen, Mr. Ole Martin",male,28.141508,0,0,7.3125,1
155,0,1,"Williams, Mr. Charles Duane",male,51.000000,0,1,61.3792,1

In [ ]:
titanic_df1.drop(columns='sex', inplace=True)
titanic_df1.head( )

<ipython-input-28-01a0b7e2f65e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_df1.drop(columns='sex', inplace=True)

,survived,pclass,name,age,sibsp,parch,fare,gender
0,0,3,"Braund, Mr. Owen Harris",22.0,1,0,7.2500,1
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,71.2833,0
2,1,3,"Heikkinen, Miss. Laina",26.0,0,0,7.9250,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,53.1000,0
4,0,3,"Allen, Mr. William Henry",35.0,0,0,8.0500,1

In [ ]:
titanic_df1.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  156 non-null    int64
 1   pclass    156 non-null    int64
 2   name      156 non-null    object
 3   age       156 non-null    float64
 4   sibsp     156 non-null    int64
 5   parch     156 non-null    int64
 6   fare      156 non-null    float64
 7   gender    156 non-null    int64
dtypes: float64(2), int64(5), object(1)
memory usage: 9.9+ KB

###문자형 변수를 명목 변수화하기

In [ ]:
condition=lambda x: x.split(',')[1].split('.')[0].strip( )
titanic_df1['title']=titanic_df1['name'].map(condition)
titanic_df1['title'].unique( )

<ipython-input-32-1b7ea6e8be30>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_df1['title']=titanic_df1['name'].map(condition)

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev'], dtype=object)

In [ ]:
Special=['Master', 'Don', 'Rev']
for each in Special:
  titanic_df1['title']=titanic_df1['title'].replace(each, 'Special')

titanic_df1['title'].unique( )
titanic_df1

<ipython-input-33-5453244c07b4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_df1['title']=titanic_df1['title'].replace(each, 'Special')

,survived,pclass,name,age,sibsp,parch,fare,gender,title
0,0,3,"Braund, Mr. Owen Harris",22.000000,1,0,7.2500,1,Mr
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.000000,1,0,71.2833,0,Mrs
2,1,3,"Heikkinen, Miss. Laina",26.000000,0,0,7.9250,0,Miss
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.000000,1,0,53.1000,0,Mrs
4,0,3,"Allen, Mr. William Henry",35.000000,0,0,8.0500,1,Mr
...,...,...,...,...,...,...,...,...,...
151,1,1,"Pears, Mrs. Thomas (Edith Wearne)",22.000000,1,0,66.6000,0,Mrs
152,0,3,"Meo, Mr. Alfonzo",55.500000,0,0,8.0500,1,Mr
153,0,3,"van Billiard, Mr. Austin Blyler",40.500000,0,2,14.5000,1,Mr
154,0,3,"Olsen, Mr. Ole Martin",28.141508,0,0,7.3125,1,Mr
155,0,1,"Williams, Mr. Charles Duane",51.000000,0,1,61.3792,1,Mr

In [ ]:
len(titanic_df1['title'].unique( ))

4

In [ ]:
titanic_df1=titanic_df1.drop('name', axis=1)
titanic_df1

     survived  pclass        age  sibsp  parch     fare  gender title
0           0       3  22.000000      1      0   7.2500       1    Mr
1           1       1  38.000000      1      0  71.2833       0   Mrs
2           1       3  26.000000      0      0   7.9250       0  Miss
3           1       1  35.000000      1      0  53.1000       0   Mrs
4           0       3  35.000000      0      0   8.0500       1    Mr
..        ...     ...        ...    ...    ...      ...     ...   ...
151         1       1  22.000000      1      0  66.6000       0   Mrs
152         0       3  55.500000      0      0   8.0500       1    Mr
153         0       3  40.500000      0      2  14.5000       1    Mr
154         0       3  28.141508      0      0   7.3125       1    Mr
155         0       1  51.000000      0      1  61.3792       1    Mr

[156 rows x 8 columns]

In [ ]:
def convert_title(x):
  if x=="Special":
    return 1
  else:
    return 0

titanic_df1["special_title"]=titanic_df1["title"].apply(convert_title)
titanic_df1.tail(7)

,survived,pclass,age,sibsp,parch,fare,gender,title,special_title
149,0,2,42.000000,0,0,13.0000,1,Special,1
150,0,2,51.000000,0,0,12.5250,1,Special,1
151,1,1,22.000000,1,0,66.6000,0,Mrs,0
152,0,3,55.500000,0,0,8.0500,1,Mr,0
153,0,3,40.500000,0,2,14.5000,1,Mr,0
154,0,3,28.141508,0,0,7.3125,1,Mr,0
155,0,1,51.000000,0,1,61.3792,1,Mr,0

In [ ]:
titanic_df1.drop('title', axis=1, inplace=True)
titanic_df1

     survived  pclass        age  sibsp  parch     fare  gender  special_title
0           0       3  22.000000      1      0   7.2500       1              0
1           1       1  38.000000      1      0  71.2833       0              0
2           1       3  26.000000      0      0   7.9250       0              0
3           1       1  35.000000      1      0  53.1000       0              0
4           0       3  35.000000      0      0   8.0500       1              0
..        ...     ...        ...    ...    ...      ...     ...            ...
151         1       1  22.000000      1      0  66.6000       0              0
152         0       3  55.500000      0      0   8.0500       1              0
153         0       3  40.500000      0      2  14.5000       1              0
154         0       3  28.141508      0      0   7.3125       1              0
155         0       1  51.000000      0      1  61.3792       1              0

[156 rows x 8 columns]

### 열 데이터를 이용해 열 추가하기

In [ ]:
titanic_df1['sibpar']=titanic_df1['sibsp']+titanic_df1['parch']
titanic_df1

,survived,pclass,age,sibsp,parch,fare,gender,special_title,sibpar
0,0,3,22.000000,1,0,7.2500,1,0,1
1,1,1,38.000000,1,0,71.2833,0,0,1
2,1,3,26.000000,0,0,7.9250,0,0,0
3,1,1,35.000000,1,0,53.1000,0,0,1
4,0,3,35.000000,0,0,8.0500,1,0,0
...,...,...,...,...,...,...,...,...,...
151,1,1,22.000000,1,0,66.6000,0,0,1
152,0,3,55.500000,0,0,8.0500,1,0,0
153,0,3,40.500000,0,2,14.5000,1,0,2
154,0,3,28.141508,0,0,7.3125,1,0,0
155,0,1,51.000000,0,1,61.3792,1,0,1

In [ ]:
titanic_df1.drop(['sibsp','parch'], axis =1, inplace=True)
titanic_df1

     survived  pclass        age     fare  gender  special_title  sibpar
0           0       3  22.000000   7.2500       1              0       1
1           1       1  38.000000  71.2833       0              0       1
2           1       3  26.000000   7.9250       0              0       0
3           1       1  35.000000  53.1000       0              0       1
4           0       3  35.000000   8.0500       1              0       0
..        ...     ...        ...      ...     ...            ...     ...
151         1       1  22.000000  66.6000       0              0       1
152         0       3  55.500000   8.0500       1              0       0
153         0       3  40.500000  14.5000       1              0       2
154         0       3  28.141508   7.3125       1              0       0
155         0       1  51.000000  61.3792       1              0       1

[156 rows x 7 columns]

In [ ]:
titanic_df1['avgfare']=titanic_df1['fare']/titanic_df1['sibpar']
titanic_df1

,survived,pclass,age,fare,gender,special_title,sibpar,avgfare
0,0,3,22.000000,7.2500,1,0,1,7.2500
1,1,1,38.000000,71.2833,0,0,1,71.2833
2,1,3,26.000000,7.9250,0,0,0,inf
3,1,1,35.000000,53.1000,0,0,1,53.1000
4,0,3,35.000000,8.0500,1,0,0,inf
...,...,...,...,...,...,...,...,...
151,1,1,22.000000,66.6000,0,0,1,66.6000
152,0,3,55.500000,8.0500,1,0,0,inf
153,0,3,40.500000,14.5000,1,0,2,7.2500
154,0,3,28.141508,7.3125,1,0,0,inf
155,0,1,51.000000,61.3792,1,0,1,61.3792

In [ ]:
titanic_df1['n_family']=titanic_df1['sibpar']+1
titanic_df1['avgfare']=titanic_df1['fare']/titanic_df1['n_family']
titanic_df1

,survived,pclass,age,fare,gender,special_title,sibpar,avgfare,n_family
0,0,3,22.000000,7.2500,1,0,1,3.625000,2
1,1,1,38.000000,71.2833,0,0,1,35.641650,2
2,1,3,26.000000,7.9250,0,0,0,7.925000,1
3,1,1,35.000000,53.1000,0,0,1,26.550000,2
4,0,3,35.000000,8.0500,1,0,0,8.050000,1
...,...,...,...,...,...,...,...,...,...
151,1,1,22.000000,66.6000,0,0,1,33.300000,2
152,0,3,55.500000,8.0500,1,0,0,8.050000,1
153,0,3,40.500000,14.5000,1,0,2,4.833333,3
154,0,3,28.141508,7.3125,1,0,0,7.312500,1
155,0,1,51.000000,61.3792,1,0,1,30.689600,2

In [ ]:
titanic_df1['n_family1']=[1 if i==0 else i+1 for i in titanic_df1['sibpar']]
titanic_df1

,survived,pclass,age,fare,gender,special_title,sibpar,avgfare,n_family,n_family1
0,0,3,22.000000,7.2500,1,0,1,3.625000,2,2
1,1,1,38.000000,71.2833,0,0,1,35.641650,2,2
2,1,3,26.000000,7.9250,0,0,0,7.925000,1,1
3,1,1,35.000000,53.1000,0,0,1,26.550000,2,2
4,0,3,35.000000,8.0500,1,0,0,8.050000,1,1
...,...,...,...,...,...,...,...,...,...,...
151,1,1,22.000000,66.6000,0,0,1,33.300000,2,2
152,0,3,55.500000,8.0500,1,0,0,8.050000,1,1
153,0,3,40.500000,14.5000,1,0,2,4.833333,3,3
154,0,3,28.141508,7.3125,1,0,0,7.312500,1,1
155,0,1,51.000000,61.3792,1,0,1,30.689600,2,2

In [ ]:
titanic_df1=titanic_df1.drop(['fare','sibpar','n_family1'], axis=1)
titanic_df1

     survived  pclass        age  gender  special_title    avgfare  n_family
0           0       3  22.000000       1              0   3.625000         2
1           1       1  38.000000       0              0  35.641650         2
2           1       3  26.000000       0              0   7.925000         1
3           1       1  35.000000       0              0  26.550000         2
4           0       3  35.000000       1              0   8.050000         1
..        ...     ...        ...     ...            ...        ...       ...
151         1       1  22.000000       0              0  33.300000         2
152         0       3  55.500000       1              0   8.050000         1
153         0       3  40.500000       1              0   4.833333         3
154         0       3  28.141508       1              0   7.312500         1
155         0       1  51.000000       1              0  30.689600         2

[156 rows x 7 columns]

In [ ]:
titanic_df1.rename(columns={'gender':'sex', 'special_title':'title', 'avgfare':'fare', 'n_family':'num_family'}, inplace=True)
titanic_df1

     survived  pclass        age  sex  title       fare  num_family
0           0       3  22.000000    1      0   3.625000           2
1           1       1  38.000000    0      0  35.641650           2
2           1       3  26.000000    0      0   7.925000           1
3           1       1  35.000000    0      0  26.550000           2
4           0       3  35.000000    1      0   8.050000           1
..        ...     ...        ...  ...    ...        ...         ...
151         1       1  22.000000    0      0  33.300000           2
152         0       3  55.500000    1      0   8.050000           1
153         0       3  40.500000    1      0   4.833333           3
154         0       3  28.141508    1      0   7.312500           1
155         0       1  51.000000    1      0  30.689600           2

[156 rows x 7 columns]

In [ ]:
titanic_df1=titanic_df1[['survived', 'pclass', 'sex', 'age', 'title', 'fare', 'num_family']]
titanic_df1

     survived  pclass  sex        age  title       fare  num_family
0           0       3    1  22.000000      0   3.625000           2
1           1       1    0  38.000000      0  35.641650           2
2           1       3    0  26.000000      0   7.925000           1
3           1       1    0  35.000000      0  26.550000           2
4           0       3    1  35.000000      0   8.050000           1
..        ...     ...  ...        ...    ...        ...         ...
151         1       1    0  22.000000      0  33.300000           2
152         0       3    1  55.500000      0   8.050000           1
153         0       3    1  40.500000      0   4.833333           3
154         0       3    1  28.141508      0   7.312500           1
155         0       1    1  51.000000      0  30.689600           2

[156 rows x 7 columns]

In [ ]:
titanic_df1=titanic_df1.dropna( )
titanic_df1.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    156 non-null    int64
 1   pclass      156 non-null    int64
 2   sex         156 non-null    int64
 3   age         156 non-null    float64
 4   title       156 non-null    int64
 5   fare        156 non-null    float64
 6   num_family  156 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 8.7 KB

#Section 03. 판다스의 통계 함수
##1. 기본 통계 함수
### 데이터의 통계치 확인하기

In [ ]:
titanic_df.describe( )

,passengerId,survived,pclass,age,sibsp,parch,fare
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,0.346154,2.423077,28.141508,0.615385,0.397436,28.109587
std,45.177428,0.477275,0.795459,13.123652,1.056235,0.870146,39.401047
min,1.000000,0.000000,1.000000,0.830000,0.000000,0.000000,6.750000
25%,39.750000,0.000000,2.000000,21.000000,0.000000,0.000000,8.003150
50%,78.500000,0.000000,3.000000,28.141508,0.000000,0.000000,14.454200
75%,117.250000,1.000000,3.000000,33.000000,1.000000,0.000000,30.371850
max,156.000000,1.000000,3.000000,71.000000,5.000000,5.000000,263.000000

###합계 구하기: sum 함수

In [ ]:
titanic_df.sum( )

<ipython-input-48-dfb62cf14254>:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  titanic_df.sum( )

passengerId                                                12246
survived                                                      54
pclass                                                       378
name           Braund, Mr. Owen HarrisCumings, Mrs. John Brad...
sex            malefemalefemalefemalemalemalemalemalefemalefe...
age                                                  4390.075238
sibsp                                                         96
parch                                                         62
ticket         A/5 21171PC 17599STON/O2. 31012821138033734503...
fare                                                   4385.0956
cabin          NCNCNNENNNGCNNNNNNNNNDNANNNCNNNBNNNNNNNNNNNNNN...
dtype: object

###총 개수 구하기: count 함수

In [ ]:
titanic_df.count( )

passengerId    156
survived       156
pclass         156
name           156
sex            156
age            156
sibsp          156
parch          156
ticket         156
fare           156
cabin          156
embarked       155
dtype: int64

###최댓값 구하기: max 함수

In [ ]:
titanic_df.max( )

<ipython-input-50-4c72e2656b59>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  titanic_df.max( )

passengerId                                156
survived                                     1
pclass                                       3
name           van Billiard, Mr. Austin Blyler
sex                                       male
age                                       71.0
sibsp                                        5
parch                                        5
ticket                             W.E.P. 5734
fare                                     263.0
cabin                                        N
dtype: object

###최솟값 구하기: min 함수

In [ ]:
titanic_df.min( )

<ipython-input-51-15aa2289bcdc>:1: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  titanic_df.min( )

passengerId                                                 1
survived                                                    0
pclass                                                      1
name           Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
sex                                                    female
age                                                      0.83
sibsp                                                       0
parch                                                       0
ticket                                                 110465
fare                                                     6.75
cabin                                                       A
dtype: object

###평균값 구하기: mean 함수

In [ ]:
titanic_df.mean( )

<ipython-input-52-50666dc71b66>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  titanic_df.mean( )

passengerId    78.500000
survived        0.346154
pclass          2.423077
age            28.141508
sibsp           0.615385
parch           0.397436
fare           28.109587
dtype: float64

###중간값 구하기: median 함수

In [ ]:
titanic_df.median( )

<ipython-input-53-c050761629fa>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  titanic_df.median( )

passengerId    78.500000
survived        0.000000
pclass          3.000000
age            28.141508
sibsp           0.000000
parch           0.000000
fare           14.454200
dtype: float64

###최빈값 구하기: mode 함수

In [ ]:
titanic_df.mode( )

,passengerId,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0.0,3.0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",male,28.141508,0.0,0.0,113803,8.05,N,S
1,2,NaN,NaN,"Allen, Mr. William Henry",NaN,NaN,NaN,NaN,11668,NaN,NaN,NaN
2,3,NaN,NaN,"Andersson, Miss. Ellis Anna Maria",NaN,NaN,NaN,NaN,19950,NaN,NaN,NaN
3,4,NaN,NaN,"Andersson, Miss. Erna Alexandra",NaN,NaN,NaN,NaN,237736,NaN,NaN,NaN
4,5,NaN,NaN,"Andersson, Mr. Anders Johan",NaN,NaN,NaN,NaN,2651,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,NaN,NaN,"Williams, Mr. Charles Duane",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,153,NaN,NaN,"Williams, Mr. Charles Eugene",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,154,NaN,NaN,"Woolner, Mr. Hugh",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,155,NaN,NaN,"Zabour, Miss. Hileni",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,156,NaN,NaN,"van Billiard, Mr. Austin Blyler",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###편차 구하기: mad 함수

In [ ]:
titanic_df.mad( )

<ipython-input-55-74b461c7b310>:1: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  titanic_df.mad( )

passengerId    39.000000
survived        0.452663
pclass          0.710059
age             9.000001
sibsp           0.773176
parch           0.616535
fare           22.619713
dtype: float64

###분산 구하기: var 함수

In [ ]:
titanic_df.var( )

<ipython-input-56-dbd566145b4a>:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  titanic_df.var( )

passengerId    2041.000000
survived          0.227792
pclass            0.632754
age             172.230231
sibsp             1.115633
parch             0.757155
fare           1552.442481
dtype: float64

###표준편차 구하기: std 함수

In [ ]:
titanic_df.std( )

<ipython-input-57-93a98dbce836>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  titanic_df.std( )

passengerId    45.177428
survived        0.477275
pclass          0.795459
age            13.123652
sibsp           1.056235
parch           0.870146
fare           39.401047
dtype: float64

###왜도 구하기: skew 함수

In [ ]:
titanic_df.skew( )

<ipython-input-58-8ce7dcdfbd60>:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  titanic_df.skew( )

passengerId    0.000000
survived       0.653058
pclass        -0.912744
age            0.777484
sibsp          2.220685
parch          2.760421
fare           4.176408
dtype: float64

###첨도 구하기: kurt 함수

In [ ]:
titanic_df.kurt( )

<ipython-input-59-713d59a258e3>:1: FutureWarning: The default value of numeric_only in DataFrame.kurt is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  titanic_df.kurt( )

passengerId    -1.200000
survived       -1.594120
pclass         -0.803872
age             1.470785
sibsp           4.996881
parch           9.346662
fare           21.109985
dtype: float64

##2. 특정 열의 통계치 구하기

In [ ]:
titanic_df['age'].max() # 최댓값 구하기

71.0

In [ ]:
titanic_df['age'].min() # 최솟값 구하기

0.83

In [ ]:
titanic_df['age'].sum() # 합계 구하기

4390.075238095238

In [ ]:
titanic_df['age'].count() # 개수 구하기

156

In [ ]:
titanic_df['age'].mean() # 평균값 구하기 1

28.141507936507935

In [ ]:
titanic_df['age'].sum()/titanic_df['age'].count() # 평균값 구하기 2

28.141507936507935

In [ ]:
titanic_df['age'].std() # 표준편차 구하기

13.123651589964872

In [ ]:
titanic_df['age'].median() # 중간값 구하기

28.141507936507935

In [ ]:
titanic_df['age'].mode() # 최빈값 구하기

0    28.141508
Name: age, dtype: float64